{% extends 'knp_menu.html.twig' %}
{% set is_mobile_view = is_mobile_view() %}

{% block root %}
    {% set localeCode = item.getAttribute('currentLocale')|slice(3, 2)|lower %}
    <li class="nav-item nav-item-locale">
        <div class="dropdown locale">
            <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="flag-icon flag-icon-{{ localeCode }}"></i>
                {% if is_mobile_view %}
                    {% if 'th' == localeCode %}
                        <span>{{ "TH" }}</span>
                    {% elseif 'us' == localeCode %}
                        <span>{{ "EN" }}</span>
                    {% else %}
                        <span>{{ localeCode }}</span>
                    {% endif %}
                {% else %}
                    {% if 'th' == localeCode %}
                        <span>{{ "ภาษาไทย / Thai" }}</span>
                    {% elseif 'us' == localeCode %}
                        <span>{{ "ภาษาอังกฤษ / English" }}</span>
                    {% else %}
                        <span>{{ item.label }}</span>
                    {% endif %}
                {% endif %}
            </a>
            {% set listAttributes = item.childrenAttributes %}
            {{ block('list') -}}
        </div>
    </li>
{% endblock %}

{% block label %}
    {% set localeCode = item.name|slice(3, 2)|lower %}
    <i class="flag-icon flag-icon-{{ localeCode }}"></i>
    {% if 'th' == localeCode %}
        {{ "ไทย / TH" }}
    {% elseif 'us' == localeCode %}
        {{ "อังกฤษ / EN" }}
    {% else %}
        {{ item.label }}
    {% endif %}
{% endblock %}
