{% extends 'VcareWebBundle::layout.html.twig' %}

{% form_theme form 'VcareWebBundle:Form:common.html.twig' %}

{% block content %}
    <div class="row user-register">
        <div class="col-md-6 col-xs-12">
            <div class="page-header">
                {{ 'sylius.ui.register_in_the_store'|trans|raw }}
                <div class="page-subheader">
                    {{ 'vcare.ui.register_in_the_store'|trans|raw }}
                </div>
            </div>

            {{ form_start(form, {'action': path('sylius_shop_register'), 'attr': {'class': '', 'novalidate': 'novalidate'}}) }}
                {{ form_errors(form)|raw }}

                <div class="user-form">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">{{ form_row(form.firstName) }}</div>
                        <div class="col-md-6 col-xs-12">{{ form_row(form.lastName) }}</div>
                    </div>

                    {{ form_row(form.phoneNumber, {attr: {class: 'input-number-only'}}) }}

                    <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ "vcare.ui.login_information"|trans }}</h4>
                            {{ form_row(form.email) }}
                            {{ form_row(form.user.plainPassword) }}
                        </div>
                    </div>
                </div>

                <div class="form-actions">
                    <a href="{{ path('sylius_shop_login') }}">
                        {{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}
                    </a>
                    <button class="btn btn-lg btn-success pull-right" type="submit">
                        {{ 'sylius.ui.create_an_account'|trans|raw }}
                    </button>
                </div>

                {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>

        <div class="col-md-6"></div>
    </div>
{% endblock %}
