{% extends 'VcareWebBundle::layout.html.twig' %}

{% form_theme form 'VcareWebBundle:Form:common.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row user-register">
            <div class="col-md-6">

                <div class="page-header">{{ 'sylius.ui.reset_password'|trans }}</div>

                {{ form_start(form, {'action': path('sylius_shop_password_resetting', {token: app.request.get('token')}), 'attr': {'class': '', 'novalidate': 'novalidate'}}) }}
                    {{ form_errors(form) }}

                    <div class="user-form">
                        {{ form_row(form.password.first, {'label': 'sylius.form.user_reset_password.new'|trans}) }}
                        {{ form_row(form.password.second, {'label': 'sylius.form.user_reset_password.confirmation'|trans}) }}
                    </div>

                    <div class="form-actions pull-right">
                        <button type="submit" class="btn btn-primary">
                            {{ 'sylius.ui.reset'|trans }}
                        </button>
                    </div>

                    {{ form_row(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
    </div>
{% endblock %}
