{% extends 'VcareWebBundle:Checkout:layout.html.twig' %}
{% form_theme form _self %}

{% block content %}
    <div class="shipping-content">
        {% include 'VcareWebBundle:Checkout:_progressBar.html.twig' %}
        <div class="page-header">{{ 'sylius.ui.shipping_method'|trans|raw }}</div>

        {{ form_errors(form) }}

        <form method="post" action="{{ path(context.process.forwardRoute, {'stepName': context.currentStep.name}) }}"
              class="form-horizontal" novalidate>
            {% for shipment in order.shipments %}
                {% set method = form.shipments[loop.index0].method %}
                {{ form_errors(method) }}
                {{ form_widget(method) }}
            {% endfor %}

            {{ form_widget(form._token) }}

            <div class="form-actions">
                <a href="{{ path(context.process.displayRoute, {'stepName': context.previousStep.name}) }}"
                   class="btn btn-secondary btn-lg">
                    <i class="fa fa-angle-left"></i>
                    {{ 'sylius.ui.back'|trans }}
                </a>
                <button type="submit" class="btn btn-primary btn-lg">
                    {{ 'sylius.checkout.forward'|trans }}
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>

        </form>
    </div>
{% endblock %}

{% block sylius_shipping_method_choice_widget %}
    {% form_theme form 'VcareWebBundle:Form:common.html.twig' %}

    <table {{ block('widget_container_attributes') }} class="table table-bordered">
        <thead>
        <tr>
            <th>{{ "sylius.ui.shipping_method"|trans }}</th>
            <th>{{ "sylius.ui.price"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for child in form %}
            <tr>
                <td>{{ form_widget(child) }}</td>
                <td>
                    {% if shipping_costs[child.vars.value] is defined %}
                        {{ shipping_costs[child.vars.value]|sylius_price }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
