{% block subject %}{{ cx_settings.branding('name') }} - {{ "ขอเปลี่ยนรหัสผ่าน" }}{% endblock %}

{% block body %}
    {% set url = url('sylius_shop_password_resetting', { 'token' : user.passwordResetToken}) %}

    <h4>คำขอเปลี่ยนรหัสผ่าน</h4>
    <p>กรุณากดลิงค์ด้านล่างเพื่อขอเปลี่ยนรหัสผ่าน</p>
    <p><a href="{{ url }}">{{ url }}</a></p>

    {{ include("VcareWebBundle:Email:_footer.html.twig") }}
{% endblock %}
