{# TODO: check active menu #}
<div class="list-group account-menu__list">
    <a href="{{ path('sylius_account_profile_show') }}" class="list-group-item">{{ 'Home'|trans }}</a>
    <a href="{{ path('sylius_account_profile_update') }}" class="list-group-item">{{ 'sylius.account.title'|trans }}</a>
    <a href="{{ path('sylius_account_change_password') }}" class="list-group-item">{{ 'sylius.ui.password'|trans }}</a>
    <a href="{{ path('sylius_account_order_index') }}" class="list-group-item">{{ 'sylius.account.order.list'|trans }}</a>
</div>
