{% extends 'VcareWebBundle:Account:layout.html.twig' %}
{% form_theme form 'VcareWebBundle:Form:common.html.twig' %}

{% block breadcrumbs%}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('route_shop_homepage') }}">{{ 'sylius.ui.home'|trans }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
        </li>
        <li class="breadcrumb-item active">{{ 'sylius.ui.personal_information'|trans }}</li>
    </ol>
{% endblock %}

{% block subcontent %}
    <div class="card card-block">
        <h4 class="card-title">{{ 'sylius.ui.personal_information'|trans }}</h4>
        <p class="card-text">{{ 'sylius.ui.manage_your_personal_information_and_preferences'|trans }}</p>

        <div class="card-text">
            {{ form_start(form, {'action': path('sylius_shop_account_profile_update'), 'attr': {'class': 'account-menu__content--form', 'novalidate': 'novalidate'}}) }}
                <input type="hidden" name="_method" value="PUT" />

                <div class="row">
                    <div class="col-md-6 col-xs-6">{{ form_row(form.firstName) }}</div>
                    <div class="col-md-6 col-xs-6">{{ form_row(form.lastName) }}</div>
                </div>

                {{ form_row(form.email) }}
                {{ form_row(form.phoneNumber) }}

                <div class="row">
                    <div class="col-md-6 col-xs-6">{{ form_row(form.birthday) }}</div>
                    <div class="col-md-6 col-xs-6">{{ form_row(form.gender) }}</div>
                </div>

                {#<div class="row">
                    <div class="col-md-6 col-xs-12">{{ form_row(form.countryCode, {'label': 'sylius.ui.countries'|trans}) }}</div>
                    <div class="col-md-6 col-xs-12">{{ form_row(form.localeCode) }}</div>
                </div>#}

                {#{{ form_row(form.subscribedToNewsletter) }}#}

                <div class="text-sm-right text-xs-right">
                    <button type="submit" class="btn btn-primary">{{ 'sylius.ui.save_changes'|trans }}</button>
                </div>
                {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
