{% extends 'VcareWebBundle:Account:layout.html.twig' %}

{% form_theme form 'VcareWebBundle:Form:bootstrap_4_layout.html.twig' %}

{% block account_header %}
    <div class="account-menu__content--header page-header">
        <h4>{{ 'sylius.ui.reset_password'|trans }}</h4>
    </div>
{% endblock %}

{% block account_content %}
    <form action="{{ path('sylius_account_change_password') }}" {{ form_enctype(form) }} method="POST" class="account-menu__content--form">
        {{ form_row(form.currentPassword, {'label': 'sylius.ui.current_password'|trans}) }}
        {{ form_row(form.newPassword.first, {'label': 'sylius.ui.new_password'|trans}) }}
        {{ form_row(form.newPassword.second, {'label': 'sylius.ui.confirmation'|trans}) }}

        {{ form_rest(form) }}

        <div class="form-actions pull-right">
            <a href="{{ cancel_url|default(app.request.headers.get('referer')) }}" class="btn btn-secondary">
                <i class="fa fa-times"></i> {{ 'sylius.ui.cancel'|trans }}
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-floppy-o"></i> {{ 'sylius.ui.save_changes'|trans }}
            </button>
        </div>
    </form>
{% endblock %}
