{% extends 'VcareWebBundle::layout.html.twig' %}

{% form_theme form 'VcareWebBundle:Form:bootstrap_4_horizontal_layout.html.twig' %}

{% block content %}
    <div class="row user-register">
        <div class="col-md-6">

            <div class="page-header">{{ 'sylius.ui.reset_password'|trans }}</div>

            <form action="{{ path('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}" {{ form_enctype(form) }} method="POST">
                {{ form_errors(form) }}

                <div class="user-form">
                    {{ form_row(form.password.first, {'label': 'sylius.form.user_reset_password.new'|trans}) }}
                    {{ form_row(form.password.second, {'label': 'sylius.form.user_reset_password.confirmation'|trans}) }}
                </div>

                {{ form_rest(form) }}

                <div class="form-actions pull-right">
                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary">
                        <i class="fa fa-times"></i> {{ 'sylius.ui.cancel'|trans }}
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i> {{ 'sylius.ui.save_changes'|trans }}
                    </button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
