{% if active is not defined or active == 'summary' %}
    {% set steps = {'summary': 'active', 'address': 'disabled', 'select_shipping': 'disabled', 'select_payment': 'disabled', 'complete': 'disabled'} %}
{% elseif active == 'address' %}
    {% set steps = {'summary': 'completed', 'address': 'active', 'select_shipping': 'disabled', 'select_payment': 'disabled', 'complete': 'disabled'} %}
{% elseif active == 'select_shipping' %}
    {% set steps = {'summary': 'completed', 'address': 'completed', 'select_shipping': 'active', 'select_payment': 'disabled', 'complete': 'disabled'} %}
{% elseif active == 'select_payment' %}
    {% set steps = {'summary': 'completed', 'address': 'completed', 'select_shipping': 'completed', 'select_payment': 'active', 'complete': 'disabled'} %}
{% else %}
    {% set steps = {'summary': 'completed', 'address': 'completed', 'select_shipping': 'completed', 'select_payment': 'completed', 'complete': 'active'} %}
{% endif %}

<div class="row">
    <div class="cart-step col-md-12">
        <ul>
            <li class="cart-step--{{ steps['summary'] }}">
                <i class="fa fa-list" aria-hidden="true"></i>
                {% if 'completed' == steps['summary'] %}
                    <a href="{{ path('sylius_shop_cart_summary') }}">{{ 'sylius.ui.cart_summary'|trans|raw }}</a>
                {% else %}
                    <span>{{ 'sylius.ui.cart_summary'|trans|raw }}</span>
                {% endif %}
            </li>
            <li class="cart-step--{{ steps['address'] }}">
                <i class="fa fa-home" aria-hidden="true"></i>
                {% if 'completed' == steps['address'] %}
                    <a href="{{ path('sylius_shop_checkout_address') }}">{{ 'sylius.ui.address'|trans|raw }}</a>
                {% else %}
                    <span>{{ 'sylius.ui.address'|trans|raw }}</span>
                {% endif %}
            </li>
            <li class="cart-step--{{ steps['select_shipping'] }}">
                <i class="fa fa-truck" aria-hidden="true"></i>
                {% if 'completed' == steps['select_shipping'] %}
                    <a href="{{ path('sylius_shop_checkout_select_shipping') }}">{{ 'sylius.ui.shipping'|trans|raw }}</a>
                {% else %}
                    <span>{{ 'sylius.ui.shipping'|trans|raw }}</span>
                {% endif %}
            </li>
            <li class="cart-step--{{ steps['select_payment'] }}">
                <i class="fa fa-credit-card" aria-hidden="true"></i>
                {% if 'completed' == steps['select_payment'] %}
                    <a href="{{ path('sylius_shop_checkout_select_payment') }}">{{ 'sylius.ui.payment'|trans|raw }}</a>
                {% else %}
                    <span>{{ 'sylius.ui.payment'|trans|raw }}</span>
                {% endif %}
            </li>
            <li class="cart-step--{{ steps['complete'] }}">
                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                {% if 'completed' == steps['complete'] %}
                    <a href="{{ path('sylius_shop_checkout_complete') }}">{{ 'sylius.ui.complete'|trans|raw }}</a>
                {% else %}
                    <span>{{ 'sylius.ui.complete'|trans|raw }}</span>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

{% if not is_granted('ROLE_USER') and order.customer and order.customer.email %}
    <div class="m-b-1 text-align-right">
        <i class="fa fa-shopping-cart"></i> {{ "sylius.ui.checking_out_as"|trans }}: <strong>{{ order.customer.email }}</strong>
    </div>
{% endif %}
