{% extends 'VcareWebBundle:Checkout:layout.html.twig' %}
{% form_theme form 'VcareWebBundle:Form:common.html.twig' %}

{% block content %}
    <div class="checkout-step checkout-step__addressing">
        <div class="page-header">
            {{ 'sylius.ui.addressing_step'|trans|raw }}
        </div>

        {{ include('VcareWebBundle:Checkout:_steps.html.twig', {'active': 'address'}) }}

        {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'novalidate': 'novalidate'}}) }}
            <input type="hidden" name="_method" value="PUT" />

            {{ form_errors(form) }}

            <div class="row">
                <fieldset class="col-xs-12 col-md-6 address-container" id="checkout-shipping-address-container">
                    <legend>{{ 'sylius.ui.shipping_address'|trans }}</legend>
                    {% include 'VcareWebBundle:Address:_form.html.twig' with {'form': form.shippingAddress} %}
                    {{ form_row(form.differentBillingAddress, {'attr': {'class': 'address-trigger'}}) }}
                </fieldset>

                <fieldset class="col-xs-12 col-md-6 address-container" id="checkout-billing-address-container">
                    <legend>{{ 'sylius.ui.billing_address'|trans }}</legend>
                    {% include 'VcareWebBundle:Address:_form.html.twig' with {'form': form.billingAddress} %}
                </fieldset>
            </div>

            <div class="form-actions checkout__btn">
                <a href="{{ path('sylius_shop_cart_summary') }}" class="btn btn-secondary btn-lg">
                    <i class="fa fa-angle-left"></i>
                    {{ 'sylius.ui.back'|trans }}
                </a>
                <button type="submit" class="btn btn-primary btn-lg">
                    {{ 'sylius.ui.next'|trans }}
                    <i class="fa fa-angle-right"></i>
                </button>
            </div>
            {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
