{% from 'VcareWebBundle:Account/Order:macros.html.twig' import state %}
{% from "VcareWebBundle:Product:macros.html.twig" import cart_quantity, item_tax, price_tax_item %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% set is_mobile_view = is_mobile_view() %}

<div class="order-detail-card card card-block">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            {{ 'sylius.ui.placed_at'|trans|raw }}: <strong>{{ order.createdAt|localizeddate }}</strong><br>
            {{ "sylius.ui.payment_method"|trans|raw }}: <strong>{{ order.payments.last.method.name }} - {{ ("sylius.ui." ~ order.paymentState)|trans|raw }}</strong><br>
            {{ "sylius.ui.shipping_method"|trans|raw }}: <strong>{{ order.shipments.last.method.name }} - {{ ("sylius.ui." ~ order.shippingState)|trans|raw }}</strong>
        </div>
        <div class="col-md-3 col-xs-12">
            {{ 'sylius.ui.order'|trans|raw }}: <strong>{{ order.number }}</strong><br>
            {{ "sylius.ui.currency"|trans|raw }}: <strong>{{ order.currencyCode|upper }}</strong><br>
            {{ 'sylius.ui.state'|trans|raw }}: <strong>{{ state(order.state) }}</strong>
        </div>
    </div>
</div>

<div class="row" style="font-size: 80%">
    <div class="col-md-6 col-xs-12">
        {#{% set lastPayment = order.payments.last %}#}

        <div class="card">
            <div class="card-header">
                <strong>{{ 'sylius.ui.payments'|trans|raw }}</strong>
            </div>
            <div class="card-block">
                {% for payment in order.payments %}
                    {% set type = 'info' %}
                    {% set hint = '' %}
                    {% set name = payment.method %}

                    {% if 'completed' == payment.state %}
                        {% set type = 'success' %}
                    {% endif %}

                    {% if 'failed' == payment.state %}
                        {% set type = 'danger' %}
                    {% endif %}

                    {% if 'cancelled' == payment.state %}
                        {% set type = 'danger' %}
                    {% endif %}

                    {% if 'processing' == payment.state %}
                        {% set type = 'warning' %}

                        {% if 'paysbuy' == payment.method.code %}
                            {# TODO: display expire date-time #}
                            {% set hint = "กรุณาชำระเงินภายใน 24 ชม." %}
                            {% set details = payment.details|default([]) %}
                            {% set params = details.params|default([]) %}
                            {% set method = params.method|default(null) %}

                            {% if 2 == method %}
                                {% set name = "ui.paysbuy.form.method.credit_card"|trans|raw %}
                            {% endif %}
                            {% if 5 == method %}
                                {% set name = "ui.paysbuy.form.method.online_banking"|trans|raw %}
                            {% endif %}
                            {% if 6 == method %}
                                {% set name = "ui.paysbuy.form.method.cash"|trans|raw %}
                            {% endif %}
                        {% endif %}
                    {% endif %}

                    <div class="alert alert-block alert-{{ type }}" role="alert">
                        {{ name }} {{ money.convertAndFormat(payment.amount) }}
                        <strong class="pull-right">{{ ("sylius.ui." ~ payment.state)|trans|raw }}</strong>
                        {% if hint %}
                            <p><strong>{{ hint }}</strong></p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'sylius.ui.shipping_address'|trans|raw }}</strong>
            </div>
            <div class="card-block">
                {% include 'VcareWebBundle:Account/Order:_address.html.twig' with { 'address': order.shippingAddress } %}
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'sylius.ui.billing_address'|trans|raw }}</strong>
            </div>
            <div class="card-block">
                {% include 'VcareWebBundle:Account/Order:_address.html.twig' with { 'address': order.billingAddress } %}
            </div>
        </div>
    </div>
</div>

{% if not is_mobile_view %}
    <table class="table table-striped table-bordered account-menu__product-table">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'sylius.ui.item'|trans|raw }}</th>
            <th class="text-align-right">{{ 'sylius.ui.unit_price'|trans|raw }}</th>
            <th class="text-align-center">{{ 'sylius.ui.qty'|trans|raw }}</th>
            {#<th class="text-align-right">{{ 'sylius.ui.tax'|trans|raw }}</th>#}
            <th class="text-align-right">{{ 'sylius.ui.total'|trans|raw }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                <td>{{ loop.index }}.</td>
                <td class="account-menu__product-table--product">
                    {{ include('VcareWebBundle:Product:_variant.html.twig', {'variant': item.variant}) }}
                </td>
                <td class="account-menu__product-table--price">
                    {% if item.unitPrice != item.discountedUnitPrice %}
                        <span class="regular-price">{{ price_tax_item(item.variant, item.unitPrice, item.taxTotal) }}</span>
                    {% endif %}
                    <span class="discounted-price">
                        {{ price_tax_item(item.variant, item.discountedUnitPrice, item.taxTotal) }}
                    </span>
                </td>
                <td class="account-menu__product-table--qty">{{ item.quantity }}</td>
                {#<td class="account-menu__product-table--total">
                    {{ item_tax(item.variant, item.taxTotal) }}
                </td>#}
                <td class="account-menu__product-table--total">
                    {{ money.convertAndFormat(item.subtotal) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            {#<tr>
                <th class="text-align-right" colspan="5">
                    {{ 'sylius.ui.tax_total'|trans|raw }}
                </th>
                <td>
                    {{ money.convertAndFormat(order.taxTotal) }}
                </td>
            </tr>#}
            <tr>
                <th class="text-align-right" colspan="4">
                    {{ 'sylius.ui.shipping_total'|trans|raw }}
                </th>
                <td>
                    {{ money.convertAndFormat(order.shippingTotal) }}
                </td>
            </tr>

            {% if order.orderPromotionTotal %}
                <tr>
                    <th class="text-align-right" colspan="4">
                        {{ 'sylius.ui.promotion_total'|trans|raw }}
                    </th>
                    <td class="text-align-right">
                        {{ money.convertAndFormat(order.orderPromotionTotal) }}
                    </td>
                </tr>
            {% endif %}

            <tr class="table-active">
                <th class="text-align-right" colspan="4">
                    {{ 'sylius.ui.order_total'|trans|raw }}
                </th>
                <th>
                    {{ money.convertAndFormat(order.total) }}
                </th>
            </tr>
        </tfoot>
    </table>
{% else %}
    {% include 'VcareWebBundle:Account/Order:_detail-xs.html.twig' %}
{% endif %}
