{% from 'VcareWebBundle:Account/Order:macros.html.twig' import state %}

{% set taxAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::TAX_ADJUSTMENT') %}
{% set shippingAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::SHIPPING_ADJUSTMENT') %}
{% set promotionAdjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}
{% set is_mobile_view = is_mobile_view() %}

<div class="order-detail-card card card-block">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <strong>{{ 'sylius.ui.placed_at'|trans }} {{ order.createdAt|date() }}</strong>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="pull-right">
                <div class="account-menu__content--number">{{ 'sylius.ui.number'|trans }}:
                    <strong>{{ order.number }}</strong></div>
                {{ 'sylius.ui.state'|trans }}: {{ state(order) }}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'sylius.ui.shipping_address'|trans }}</strong>
            </div>
            <div class="card-block">
                {% include 'VcareWebBundle:Account/Order:_address.html.twig' with { 'address': order.shippingAddress } %}
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xs-12">
        <div class="card">
            <div class="card-header">
                <strong>{{ 'sylius.ui.billing_address'|trans }}</strong>
            </div>
            <div class="card-block">
                {% include 'VcareWebBundle:Account/Order:_address.html.twig' with { 'address': order.billingAddress } %}
            </div>
        </div>
    </div>
</div>

{% if not is_mobile_view %}
    <div class="row">
        <table class="table table-striped account-menu__product-table">
            <thead>
            <tr>
                <th>{{ 'sylius.order_item.sellable'|trans }}</th>
                <th>{{ 'sylius.order_item.quantity'|trans }}</th>
                <th>{{ 'sylius.ui.unit_price'|trans }}</th>
                <th>{{ 'sylius.ui.total'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order.items %}
                {% set product = item.product %}
                <tr>
                    <td class="account-menu__product-table--product">
                        {{ include('VcareWebBundle:Product:_variant.html.twig', {'variant': item.variant}) }}
                    </td>
                    <td class="account-menu__product-table--qty">{{ item.quantity }}</td>
                    <td class="account-menu__product-table--price">{{ item.unitPrice|sylius_money(order.currency) }}</td>
                    <td class="account-menu__product-table--total">{{ item.total|sylius_money(order.currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr class="table-active">
                    <th colspan="3">
                        <span class="pull-right">
                            {{ 'sylius.ui.items_total'|trans }}
                        </span>
                    </th>
                    <th>{{ order.itemsTotal|sylius_money(order.currency) }}</th>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="pull-right">
                            {{ 'sylius.ui.tax_total'|trans }}
                        </span>
                    </td>
                    <td>{{ order.getAdjustmentsTotalRecursively(taxAdjustment)|sylius_money(order.currency) }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <span class="pull-right">
                            {{ 'sylius.ui.shipping_total'|trans }}
                        </span>
                    </td>
                    <td>{{ order.adjustmentsTotal(shippingAdjustment)|sylius_money(order.currency) }}</td>
                </tr>
                <tr class="table-active">
                    <th colspan="3">
                        <span class="pull-right">
                            {{ 'sylius.ui.total'|trans }}
                        </span>
                    </th>
                    <th>{{ order.total|sylius_money(order.currency) }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% else %}
    {% include 'VcareWebBundle:Account/Order/Mobile:_detail.html.twig' %}
{% endif %}
