<nav class="nav-main">
    <div class="nav-main__top row">
        <div class="col-xs-12">
            <div class="container">
                <ul class="nav navbar-nav nav-main__top-user">
                    {{ knp_menu_render('vcare.shop.locale', {'template': 'VcareWebBundle:Menu:locale.html.twig', 'display': 'desktop'}) }}
                    {% if is_granted('ROLE_USER') %}
                        {% set user = app.user %}
                        <li class="nav-item nav-item-user">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    <img src="{{ asset('assets/web/img/avatar.png') }}">
                                    <span>{{ user.customer ? user.customer.fullname : user.username }}</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownUser">
                                    <li class="dropdown-item">
                                        <a href="{{ path('sylius_shop_account_order_index') }}">
                                            <i class="fa fa-shopping-cart"></i>{{ 'sylius.ui.order_history'|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="{{ path('sylius_shop_account_dashboard') }}">
                                            <i class="fa fa-user"></i>{{ 'sylius.ui.profile'|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="{{ path('sylius_shop_account_change_password') }}">
                                            <i class="fa fa-sign-in"></i>{{ 'sylius.ui.change_password'|trans }}
                                        </a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="{{ path('sylius_shop_logout') }}">
                                            <i class="fa fa-sign-out"></i>{{ 'sylius.ui.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item navbar-user__log">
                            <a class="nav-link" href="{{ path('sylius_shop_login') }}">
                                <i class="fa fa-user-circle-o"></i>
                                {{ "sylius.ui.register"|trans }} / {{ "sylius.ui.login"|trans }}
                            </a>
                        </li>
                    {% endif %}

                    <li class="nav-item navbar-user__contact-us">
                        <a class="nav-link" href="{{ path('sylius_shop_login') }}">
                            <i class="fa fa-envelope-o"></i>
                            {{ "sylius.ui.contact_us"|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% set product_taxon_root = channel_settings.getProductTaxonRootCode() %}
    {% set categories = render(path('route_shop_partial_taxon_index_by_code', {code: product_taxon_root, template: 'VcareWebBundle:Menu:taxon.html.twig'})) %}

    <div class="nav-main__menu row">
        <div class="col-xs-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 hidden-sm-down">
                        <div itemscope class="nav-main__menu-brand">
                            <a itemprop="url" href="{{ path('route_shop_homepage') }}">
                                {% if cx_settings.branding('logo')|default(null) %}
                                    <img itemprop="logo" id="site-logo" src="{{ cx_settings.branding('logo') }}" alt="{{ cx_settings.branding('name') }}">
                                {% else %}
                                    {{ cx_settings.branding('name') }}
                                {% endif %}
                            </a>
                        </div>
                        <div class="nav-main__menu-category">{{ categories|raw }}</div>
                    </div>
                    <div class="col-xs-2 nav-main__menu-logo hidden-md-up">
                        <img itemprop="logo" id="site-logo" src="{{ cx_settings.branding('logo') }}" alt="{{ cx_settings.branding('name') }}">
                    </div>
                    <div class="col-md-3 col-xs-7 nav-main__menu-cart">
                        {{ include("@VcareWeb/Layout/nav-cart.html.twig") }}
                        <a class="btn btn-primary" href="{{ path('route_shop_product_index') }}">
                            {{ "vcare.ui.all_products"|trans }}
                        </a>
                    </div>
                    <div class="col-xs-2 nav-main__menu-toggle hidden-md-up">
                        <button class="btn btn-hamburger"><i class="fa fa-navicon"></i></button>
                    </div>
                    <div class="col-xs-12 nav-main__menu-category category-toggle hidden-md-up hidden-sm-down">
                        {{ categories|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
