{% from "VcareWebBundle:Product:macros.html.twig" import cart_quantity, item_tax, price_tax_item %}
{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% for item in order.items %}
    {% set product = item.product %}

    <div class="finalize-xs">
        <div class="finalize-xs__variant">
            {{ include('VcareWebBundle:Product:_variant.html.twig', {'variant': item.variant}) }}
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.price'|trans|raw }}</div>
            <div class="col-xs-6">
                {% if item.unitPrice != item.discountedUnitPrice %}
                    <span class="regular-price">{{ price_tax_item(item.variant, item.unitPrice, item.taxTotal) }}</span>
                {% endif %}
                <span class="discounted-price">
                    {{ price_tax_item(item.variant, item.discountedUnitPrice, item.taxTotal) }}
                </span>
            </div>
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.qty'|trans|raw }}</div>
            <div class="col-xs-6">{{ item.quantity }}</div>
        </div>
        {#<div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.tax'|trans|raw }}</div>
            <div class="col-xs-6">{{ item_tax(item.variant, item.taxTotal) }}</div>
        </div>#}
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.subtotal'|trans|raw }}</div>
            <div class="col-xs-6">{{ money.convertAndFormat(item.subtotal) }}</div>
        </div>
    </div>
{% endfor %}

<div class="finalize-xs-total">
    {#<div class="finalize-xs-total__row row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.tax_total'|trans|raw }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ money.convertAndFormat(order.taxTotal) }}
        </div>
    </div>
    <hr>#}

    <div class="finalize-xs-total__row row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.shipping_total'|trans|raw }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ money.convertAndFormat(order.shippingTotal) }}
        </div>
    </div>
    <hr>

    {% if order.orderPromotionTotal %}
        <div class="finalize-xs-total__row row">
            <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.promotion_total'|trans|raw }}</div>
            <div class="col-xs-6  text-xs-right">
                {{ money.convertAndFormat(order.orderPromotionTotal) }}
            </div>
        </div>
        <hr>
    {% endif %}

    <div class="finalize-xs-total__row finalize-xs-total__total row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.order_total'|trans|raw }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ money.convertAndFormat(order.total) }}
        </div>
    </div>
</div>
