{% for item in order.items %}
    {% set product = item.product %}

    <div class="finalize-xs">
        <div class="finalize-xs__variant">
            {{ include('VcareWebBundle:Product:_variant.html.twig', {'variant': item.variant}) }}
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.price'|trans }}</div>
            <div class="col-xs-6">{{ item.unitPrice|sylius_price(order.currencyCode, order.exchangeRate) }}</div>
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.qty'|trans }}</div>
            <div class="col-xs-6">{{ item.quantity }}</div>
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.tax'|trans }}</div>
            <div class="col-xs-6">{{ item.taxTotal|sylius_price(order.currencyCode, order.exchangeRate) }}</div>
        </div>
        <div class="row finalize-xs__row">
            <div class="col-xs-6 finalize-xs__left">{{ 'sylius.ui.subtotal'|trans }}</div>
            <div class="col-xs-6">{{ item.total|sylius_price(order.currencyCode, order.exchangeRate) }}</div>
        </div>
    </div>
{% endfor %}

<div class="finalize-xs-total">
    <div class="finalize-xs-total__row row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.tax_total'|trans }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ order.taxTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
        </div>
    </div>
    <hr>

    <div class="finalize-xs-total__row row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.shipping_total'|trans }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ order.shippingTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
        </div>
    </div>
    <hr>

    {% if order.orderPromotionTotal %}
        <div class="finalize-xs-total__row row">
            <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.promotion_total'|trans }}</div>
            <div class="col-xs-6  text-xs-right">
                {{ order.orderPromotionTotal|sylius_price(order.currencyCode, order.exchangeRate) }}
            </div>
        </div>
        <hr>
    {% endif %}

    <div class="finalize-xs-total__row finalize-xs-total__total row">
        <div class="col-xs-6 finalize-xs-total__left">{{ 'sylius.ui.total'|trans }}</div>
        <div class="col-xs-6  text-xs-right">
            {{ order.total|sylius_price(order.currencyCode, order.exchangeRate) }}
        </div>
    </div>
</div>
