<div class="taxon-preview taxon-preview--supple">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 taxon-preview__image">
                <img src="{{ asset('assets/web/img/ihealth-small/BG5-with-Phone_header500x500.png') }}"
                     alt="{{ "Gluco-Monitoring System" }}">
            </div>
            <div class="col-md-6 col-xs-12">
                <h3>{{ "Smart Gluco-Monitoring System" }}</h3>
                <p>The only glucose monitoring system that works wirelessly with your smartphone.</p>
                <a class="btn btn-primary" href="/taxons/category/glucometer">{{ "vcare.ui.details"|trans }}</a>
            </div>
        </div>
    </div>
</div>
<div class="taxon-preview taxon-preview--gray">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3>{{ "iHealth Edge Activity and Sleep Tracker" }}</h3>
                <p>Measure More Than Steps. Track your calories burned, distance traveled and quality of sleep.</p>
                <a class="btn btn-primary" href="/taxons/category/fitness-devices">{{ "vcare.ui.details"|trans }}</a>
            </div>
            <div class="col-md-6 col-xs-12 taxon-preview__image">
                <img src="{{ asset('assets/web/img/ihealth-small/AM3S_iphone_header_500x500.png') }}"
                     alt="{{ "iHealth Edge Activity and Sleep Tracker" }}">
            </div>
        </div>
    </div>
</div>
<div class="taxon-preview taxon-preview--white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12 taxon-preview__image">
                <img src="{{ asset('assets/web/img/ihealth-small/Wireless-Blood-Pressure-Wrist-Monitor-2.png') }}"
                     alt="{{ "Wireless Wrist Blood Pressure Monitor" }}">
            </div>
            <div class="col-md-6 col-xs-12">
                <h3>{{ "Wireless Wrist Blood Pressure Monitor" }}</h3>
                <p>Wireless Wrist Blood Pressure Monitor Clinically accurate. Insanely portable.</p>
                <a class="btn btn-primary" href="/taxons/category/blood-pressure-monitors">{{ "vcare.ui.details"|trans }}</a>
            </div>
        </div>
    </div>
</div>
<div class="taxon-preview taxon-preview--supple">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h3>{{ "The Core Smart Scale Measure and track" }}</h3>
                <p>The Core Smart Scale Measure and track nine aspects of your body composition with our medical-grade scale for a complete understanding of your overall weight.</p>
                <a class="btn btn-primary" href="/taxons/category/wireless-scales">{{ "vcare.ui.details"|trans }}</a>
            </div>
            <div class="col-md-6 col-xs-12 taxon-preview__image">
                <img src="{{ asset('assets/web/img/ihealth-small/HS6_iPhone_header_500x500.png') }}"
                     alt="{{ "The Core Smart Scale Measure and track" }}">
            </div>
        </div>
    </div>
</div>
